# hidden Mac file of cached metadata when Finder is used to browse folders
.DS_Store


#VS Code workspace file
.VSCode


#Python dotenv file
.env

#Python virtual environment
venv/

#Python
__pycache__/
*.py[cod]
*$py.class


#R
.Rproj.user
.Rdata
.Rhistory


#environment file for AWS Beanstalk
.ebextensions/environment_variables.config